/* App.css */
.App {
  font-family: Arial, sans-serif;
  background-color: #1a1a1a; /* Set dark background */
  color: white;
  margin: 0;
  padding: 0;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #333;
  padding: 10px 20px;
  z-index: 10;
}

.navbar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

.navbar li {
  margin: 0 15px;
}

.navbar a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  transition: color 0.3s ease;
}

.navbar a:hover {
  color: #ff6347; /* Highlight color on hover */
}

.home-container {
  text-align: center;
  padding: 100px 20px 50px;
  margin-top: 60px; /* Give space for the navbar */
}

.home-container h1 {
  font-size: 36px;
  color: #ff6347;
}

.home-container p {
  font-size: 18px;
  line-height: 1.6;
  max-width: 800px;
  margin: 0 auto;
}

span {
  font-weight: bold;
}
